<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>q</string>
	<key>101</key>
	<string>w</string>
	<key>102</key>
	<string>e</string>
	<key>103</key>
	<string>r</string>
	<key>104</key>
	<string>t</string>
	<key>105</key>
	<string>y</string>
	<key>106</key>
	<string>u</string>
	<key>107</key>
	<string>i</string>
	<key>108</key>
	<string>o</string>
	<key>109</key>
	<string>p</string>
	<key>110</key>
	<string>a</string>
	<key>111</key>
	<string>s</string>
	<key>112</key>
	<string>d</string>
	<key>113</key>
	<string>f</string>
	<key>114</key>
	<string>g</string>
	<key>115</key>
	<string>h</string>
	<key>116</key>
	<string>j</string>
	<key>117</key>
	<string>k</string>
	<key>118</key>
	<string>l</string>
	<key>119</key>
	<string>z</string>
	<key>120</key>
	<string>x</string>
	<key>121</key>
	<string>c</string>
	<key>122</key>
	<string>v</string>
	<key>123</key>
	<string>b</string>
	<key>124</key>
	<string>n</string>
	<key>125</key>
	<string>m</string>
	<key>200</key>
	<string>1</string>
	<key>201</key>
	<string>2</string>
	<key>202</key>
	<string>3</string>
	<key>203</key>
	<string>4</string>
	<key>204</key>
	<string>5</string>
	<key>205</key>
	<string>6</string>
	<key>206</key>
	<string>7</string>
	<key>207</key>
	<string>8</string>
	<key>208</key>
	<string>9</string>
	<key>209</key>
	<string>0</string>
	<key>210</key>
	<string>-</string>
	<key>211</key>
	<string>／</string>
	<key>212</key>
	<string>：</string>
	<key>213</key>
	<string>；</string>
	<key>214</key>
	<string>（</string>
	<key>215</key>
	<string>）</string>
	<key>216</key>
	<string>$</string>
	<key>217</key>
	<string>&amp;</string>
	<key>218</key>
	<string>@</string>
	<key>219</key>
	<string>&quot;</string>
	<key>220</key>
	<string>.</string>
	<key>221</key>
	<string>,</string>
	<key>222</key>
	<string>?</string>
	<key>223</key>
	<string>!</string>
	<key>224</key>
	<string>&apos;</string>
	<key>300</key>
	<string>[</string>
	<key>301</key>
	<string>]</string>
	<key>302</key>
	<string>{</string>
	<key>303</key>
	<string>}</string>
	<key>304</key>
	<string>#</string>
	<key>305</key>
	<string>%</string>
	<key>306</key>
	<string>^</string>
	<key>307</key>
	<string>*</string>
	<key>308</key>
	<string>+</string>
	<key>309</key>
	<string>=</string>
	<key>310</key>
	<string>_</string>
	<key>311</key>
	<string>\</string>
	<key>312</key>
	<string>|</string>
	<key>313</key>
	<string>~</string>
	<key>314</key>
	<string>&lt;</string>
	<key>315</key>
	<string>&gt;</string>
	<key>316</key>
	<string>$</string>
	<key>317</key>
	<string>&amp;</string>
	<key>318</key>
	<string>@</string>
	<key>319</key>
	<string>、</string>
	<key>320</key>
	<string></string>
	<key>321</key>
	<string></string>
	<key>322</key>
	<string></string>
	<key>323</key>
	<string></string>
	<key>324</key>
	<string></string>
	<key>325</key>
	<string></string>
</dict>
</plist>
